.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
.eslintrc.js
package.json
package-lock.json
.vscode/launch.json
api/api/__init__.pyc
api/api/settings.pyc
api/hobbies/__init__.pyc
config/index.js
api/api/settings.py
api/api/settings.py
package.json
package.json
api/api/settings.py
