:root {
    /** COLORS */
    --my-dark-green:#234d20;
    --my-semidark-green: #37802d;

    --my-light-blue: #04C2C8;
    --my-dark-blue: #00A1A7;
    --my-blue: #44CCFF;
    --my-yellow: rgb(255, 251, 0);
    --my-green: rgba(105, 242, 132, 0.9);

    --my-transparent-dark: rgba(0, 0, 0, 0.90);
    --my-dark: #282e34;
    --color-dark: #212121;

    /** PROPORTIONS */
    --my-navbar-height: 7vh;
    --my-header-height: 7vh;
    --my-player-height: 7vh;
    --my-display-height: 93vh;

    --my-height-w-header: 86vh;

}

.dark-theme {
    --pipz-dark: #000000;
    --pipz-primary-dark: #212121;
    --pipz-primary: #303030;
    --pipz-secondary: #424242;
    --pipz-font: #ffffff;

    background-color: var(--pipz-primary);
}
.light-theme {
    --pipz-dark: #757575;
    --pipz-primary-dark: #e0e0e0;
    --pipz-primary: #eeeeee;
    --pipz-secondary: #fafafa;
    --pipz-font: rgba(0, 0, 0, 0.87);

    background-color: var(--pipz-primary);
}