<!DOCTYPE html>
<html lang="en">

<head>
  <title>Paolo Julian</title>
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <module href="/components/head.html"></module>
</head>

<body>
  <main class="box-border">

    <module href="/components/top.html"></module>

    <module href="/components/whoami.html"></module>

    <module href="/components/selfevaluation.html"></module>

    <module href="/components/portfolio.html"></module>

    <module href="/components/contact.html"></module>

  </main>
</body>

</html>