<!DOCTYPE html>
<html lang="en">

<head>
  <title>Paolo Julian</title>
  <module href="/components/head.html"></module>
</head>

<body class="font-body box-border bg-gray-300 text-gray-700 w-full text-center">

  <module href="/components/top.html"></module>

  <!-- <module href="/components/navbar.html"></module> -->

  <module href="/components/whoami.html"></module>

  <module href="/components/selfevaluation.html"></module>

  <module href="/components/portfolio.html"></module>

  <module href="/components/footer.html"></module>

  <script src="/bundle.js"></script>
</body>

</html>