.SplashScreen {
    z-index: 1001;
    position: fixed;
    left: 0;
    top: 0;
    background: white;

    height: 100%;
    width: 100%;

    transition: all 300ms ease-in-out;
}
.SplashScreen__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    font-family: 'Roboto', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.SplashScreen__logo span.chef{
    color: #7C2D37;
}
.SplashScreen__logo span.pipz{
    /* color: #1F5725; */
    color: #7C2D37;
}
.SplashScreen__lines span {
    position: absolute;
}
.SplashScreen__lines span:nth-child(1),
.SplashScreen__lines span:nth-child(2){
    height: 2px;
    width: 50vw;
}
.SplashScreen__lines span:nth-child(3),
.SplashScreen__lines span:nth-child(4){
    height: 50vh;
    width: 2px;
}
.SplashScreen__lines span:nth-child(1){
    top: calc(50% - 3rem - 2px);
    left: -50%;
    background-color: #CC3232;
    animation: animateRight 5s linear infinite;
}
.SplashScreen__lines span:nth-child(2){
    top: calc(50% + 3rem + 2px);
    right: -50%;
    background-color: #1F5725;
    animation: animateLeft 5s linear infinite;
    animation-delay: 1000ms;
}

.SplashScreen__lines span:nth-child(3){
    top: -50%;
    right: calc(50% - 8rem);
    background-color: #784430;
    animation: animateDown 5s linear infinite;
    animation-delay: 500ms;
}
.SplashScreen__lines span:nth-child(4){
    bottom: -50%;
    left: calc(50% - 8rem);
    background-color: #f6c800;
    animation: animateUp 5s linear infinite;
    animation-delay: 1500ms;
}
@keyframes animateRight {
    0% {
        left: -50%;
    }
    100% {
        left: 100%;
    }
    
}
@keyframes animateLeft {
    0% {
        right: -50%;
    }
    100% {
        right: 100%;
    }
    
}
@keyframes animateDown {
    0% {
        top: -50%;
    }
    100% {
        top: 100%;
    }
    
}
@keyframes animateUp {
    0% {
        bottom: -50%;
    }
    100% {
        bottom: 100%;
    }
    
}
/* @keyframes animateRight {
    0% {
        left: -50%;
    }
    50% {
        left: 100%;
    }
    100% {
        left: -50%;
    }
}
@keyframes animateLeft {
    0% {
        right: -50%;
    }
    50% {
        right: 100%;
    }
    100% {
        right: -50%;
    }
}
@keyframes animateDown {
    0% {
        top: -50%;
    }
    50% {
        top: 100%;
    }
    100% {
        top: -50%;
    }
}
@keyframes animateUp {
    0% {
        bottom: -50%;
    }
    50% {
        bottom: 100%;
    }
    100% {
        bottom: -50%;
    }
} */