<footer class="bg-gray-800 pt-10 min-h-screen flex flex-col justify-between">
  <section id="contact">
    <h1 class="title text-red">CONTACT</h1>
    <div class="text-teal font-semibold mb-8">Have a question or want to work together?</div>
    <form class="w-96 max-w-8xl mx-auto mb-10">
      <div class="form-group">
        <!-- <label for="name">Name</label> -->
        <input autocomplete="on" id="name" name="name" placeholder="Name" type="text" />
      </div>
      <div class="form-group">
        <!-- <label for="email">Email</label> -->
        <input autocomplete="on" id="email" name="email" placeholder="Email" type="text" />
      </div>
      <div class="form-group">
        <!-- <label for="message">Message</label> -->
        <textarea class="resize-none" id="message" name="message" placeholder="Message" rows="8"></textarea>
      </div>
      <button class="w-full bg-teal py-2 text-gray-200" type="submit">Submit</button>
    </form>
  </section>
  <div class="bg-gray-900 text-gray-400 py-14">
    <!-- ============ Social Media ============ -->
    <div class="flex w-full items-center justify-center pb-10">
      <div class="rounded py-2 px-3 bg-gray-500">Fa</div>
      <div class="rounded py-2 px-3 bg-gray-500 ml-5">In</div>
      <div class="rounded py-2 px-3 bg-gray-500 ml-5">Li</div>
      <div class="rounded py-2 px-3 bg-gray-500 ml-5">Gi</div>
      <div class="rounded py-2 px-3 bg-gray-500 ml-5">St</div>
    </div>
    <!-- ============ Name ============ -->
    <div class="text-gray-500">
      PAOLO VINCENT JULIAN <span class="text-red">©2017</span>
    </div>
  </div>
</footer>