<section id="top" class="w-full h-screen bg-gray-700">
  <!-- Background image -->
  <div class="absolute top-0 left-0 right-0 bottom-0 bg-background-pc">
  </div>

  <div class="z-1 grid place-items-center h-full sm:h-50">
    <div>

      <h1 class="text-5xl mb-8">
        <span>PAOLO</span><span>JULIAN</span>
      </h1>
      <div class="jobs">
        <h3>Full Stack Developer</h3>
        <h3>Producer</h3>
        <h3>Musician</h3>
        <h3>Gamer</h3>
      </div>

    </div>
  </div>
</section>