<section id="top" class="w-full h-screen bg-gray-700 bg-background-pc bg-cover bg-center bg-fixed">
  <div class="z-1 grid place-items-center h-1/2 sm:h-1/2 pt-20">
    <div class="font-semibold">

      <h1 class="text-4xl md:text-5xl mb-8 tracking-wide">
        <span class="text-gray-500">PAOLO</span><span class="text-gray-800">JULIAN</span>
      </h1>
      <div class="jobs text-gray-500 tracking-wide text-md md:text-lg text-left">
        <h3>Full Stack Developer</h3>
        <h3>Producer</h3>
        <h3>Musician</h3>
        <h3>Gamer</h3>
      </div>

    </div>
  </div>
  <nav id="navbar" class="nav-bottom z-10 w-full h-14 bg-gray-800">
    <div class="mx-auto max-w-screen-lg h-full">
      <div class="flex text-gray-50 justify-center md:justify-end items-center h-full tracking-wider">
        <a href="#top" class="ml-5 home">HOME</a>
        <a href="#about" class="ml-5 about">ABOUT</a>
        <a href="#portfolio" class="ml-5 portfolio">PORTFOLIO</a>
        <a href="#contact" class="ml-5 contact">CONTACT</a>
      </div>
    </div>
  </nav>
</section>