
<section id="about" class="py-40 md:my-0 w-full bg-gray-200">
  <figure class="md:flex md:h-full p-8 md:p-0 w-full mx-auto max-w-screen-lg overflow-hidden">
    <!-- ============ Profile picture ============ -->
    <img
      class="w-72 h-72 md:w-96 rounded-full md:rounded-none mx-auto object-cover shadow-lg"
      src="/images/pipz.jpg"
      />

    <!-- ============ Who am i ============ -->
    <div class="grid place-items-center h-4/6">
      <div class="px-5 pt-10 md:pl-10 font-medium text-gray-600 md:text-left">
        <h1 class="title">
          <span class="text-gray-900">WHO</span>
          <span class="text-gray-500">IS THIS</span>
          <span class="text-gray-900">GUY?</span>
        </h1>
        <figcaption>
          I am a Software Engineer for <a href="https://yns.ph/" target="blank">YNS Philippines INC</a>. I do a lot of back-end and javascript coding. I have a serious passion for programming and I want to contribute something good to our society.
        </figcaption>
        <div class="mt-5">
          <a href="#contact" class="py-2 px-4 mt-5 bg-teal text-gray-50 rounded-md shadow-sm">Contact Me</a>
        </div>
      </div>
    </div>
  </figure>

  <div class="flex my-14 justify-center">
    <div class="w-full max-w-screen-lg h-1 rounded-full bg-gray-800 inline-flex"></div>
  </div>

  <div class="flex flex-wrap max-w-screen-xl mx-auto">
    <div class="p-10 md:w-1/3 md:mb-0 mb-6 flex flex-col">
      <div class="pattern-dots-md gray-light">
        <div class="rounded bg-gray-800 p-6 transform translate-x-3 md:translate-x-6 -translate-y-3 md:-translate-y-6">
          <div class="w-10 h-10 inline-flex items-center justify-center rounded-full bg-green-100 text-green-500 mb-5 flex-shrink-0 p-2">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 21a4 4 0 01-4-4V5a2 2 0 012-2h4a2 2 0 012 2v12a4 4 0 01-4 4zm0 0h12a2 2 0 002-2v-4a2 2 0 00-2-2h-2.343M11 7.343l1.657-1.657a2 2 0 012.828 0l2.829 2.829a2 2 0 010 2.828l-8.486 8.485M7 17h.01"></path>
            </svg>
          </div>
          <div class="flex-grow">
            <h2 class="text-2xl title-font font-medium mb-3 text-green-300">Front-end</h2>
            <p class="leading-relaxed text-sm text-justify text-gray-200">
              I love <span class="text-green-300">Javascript</span>.
              Mostly used <span class="text-green-300">Vue (2 and 3)</span> along with <span class="text-green-300">Nuxt</span> for SPA.
              Also has experience in developing <span class="text-green-300">React</span> with <span class="text-green-300">React Hooks</span>.
              Just OK in styling <span class="text-green-300">(SaSS, CSS, Tailwind, Bootstrap)</span> but not that much
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="p-10 md:w-1/3 md:h-80 md:mb-0 mb-6 flex flex-col ">
      <div class="pattern-dots-md gray-light">
        <div class="rounded bg-gray-800 p-6 transform translate-x-3 md:translate-x-6 -translate-y-3 md:-translate-y-6">
          <div class="w-10 h-10 inline-flex items-center justify-center rounded-full bg-blue-100 text-blue-500 mb-5 flex-shrink-0">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4"></path></svg>
          </div>
          <div class="flex-grow">
            <h2 class=" text-2xl title-font font-medium mb-3 text-blue-200">Back-end</h2>
            <p class="leading-relaxed text-sm text-justify text-gray-200">
              I mostly use <span class="text-blue-200">PHP</span> and <span class="text-blue-200">Javascript</span> frameworks.
              Most of my projects are built on top of <span class="text-blue-200">Laravel</span>.
              Although some of them was written in <span class="text-blue-200">NodeJS (with ExpressJS)</span> and <span class="text-blue-200">Cake PHP</span>.
              I have also used some external <span class="text-blue-200">APIs</span> that I have worked on are
              <span class="text-blue-200">Stripe</span>,
              <span class="text-blue-200">Zoom</span>,
              <span class="text-blue-200">Facebook</span> and
              <span class="text-blue-200">Google Maps</span>.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="p-10 md:w-1/3 md:mb-0 mb-6 flex flex-col ">
      <div class="pattern-dots-md gray-light">
        <div class="rounded bg-gray-800 p-6 transform translate-x-3 md:translate-x-6 -translate-y-3 md:-translate-y-6">
          <div class="w-10 h-10 inline-flex items-center justify-center rounded-full bg-yellow-100 text-yellow-500 mb-5 flex-shrink-0">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 7v10c0 2.21 3.582 4 8 4s8-1.79 8-4V7M4 7c0 2.21 3.582 4 8 4s8-1.79 8-4M4 7c0-2.21 3.582-4 8-4s8 1.79 8 4m0 5c0 2.21-3.582 4-8 4s-8-1.79-8-4"></path></svg>
          </div>
          <div class="flex-grow">
            <h2 class=" text-2xl title-font font-medium mb-3 text-gray-100">Dev-Ops</h2>
            <p class="leading-relaxed text-sm text-justify text-gray-200">
              I must say that dev-ops is my least favorite part of software development but it necessary.
              Currently using <span class="text-yellow-300">Docker</span> as the main platform,
              <span class="text-yellow-300">Drone CI</span> for building CI/CD pipelines and
              <span class="text-yellow-300">AWS</span> is my most familiar web services out there.
              I still have much to learn when it comes to dev-ops.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>