<section id="about" class="pb-60 pt-20 md:my-0 w-full bg-gray-200">
  <div class="container max-w-5xl mx-auto m-8">
    <h1 class="w-full mb-2 text-5xl font-bold leading-tight text-center text-gray-800" data-aos="fade-up">
      About
    </h1>
    <div class="w-full mb-20" data-aos="fade-up">
      <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
    </div>

    <figure class="flex flex-wrap mb-12">
      <div class="w-5/6 sm:w-1/2 p-6 text-right">
        <h3 class="text-3xl text-gray-800 font-bold leading-none mb-3" data-aos="fade-up" data-aos-duration="800">
          <span class="text-gray-900">WHO</span>
          <span class="text-gray-500">IS THIS</span>
          <span class="text-gray-900">GUY?</span>
        </h3>
        <figcaption class="text-gray-600 mb-8" data-aos="fade-up" data-aos-duration="1000">
          I am a Software Engineer for <a href="https://yns.ph/" target="blank">YNS Philippines INC</a>. I do a lot of
          back-end and javascript coding. I have a serious passion for programming and I want to contribute something
          good to our society.
        </figcaption>
        <div class="mt-5" data-aos="fade-up" data-aos-duration="1000">
          <a href="#contact" class="py-2 px-4 mt-5 bg-teal text-gray-50 rounded-md shadow-sm">Contact Me</a>
        </div>
      </div>
      <div class="w-full sm:w-1/2 p-6">
        <img class="w-72 h-72 md:w-96 rounded-full md:rounded-none mx-auto object-cover shadow-lg"
          src="/images/pipz.jpg" data-aos="fade-up" data-aos-duration="1000"/>
      </div>
    </figure>

    <figure class="flex flex-wrap flex-col-reverse sm:flex-row mb-12">
      <div class="w-full sm:w-1/2 p-6 mt-6" data-aos="fade-up" data-aos-duration="800">
        <img class="w-5/6 sm:h-64 mx-auto" src="./images/back-end.svg" />
      </div>
      <div class="w-full sm:w-1/2 p-6 mt-6">
        <div class="align-middle text-left">
          <h3 class="text-3xl text-red font-bold leading-none mb-3" data-aos="fade-up">
            Back-end
          </h3>
          <figcaption class="text-gray-600 mb-8" data-aos="fade-up" data-aos-duration="1000">
            I mostly use <span class="text-red">PHP</span> and <span class="text-red">Javascript</span>
            frameworks.
            Most of my projects are built on top of <span class="text-red">Laravel</span>.
            Although some of them was written in <span class="text-red">NodeJS (with ExpressJS)</span> and <span
              class="text-red">Cake PHP</span>.
            I have also used some external <span class="text-red">APIs</span> like
            <span class="text-red">Stripe</span>,
            <span class="text-red">Zoom</span>,
            <span class="text-red">Facebook</span> and
            <span class="text-red">Google Maps</span>.
          </figcaption>
        </div>
      </div>
    </figure>

    <figure class="flex flex-wrap mb-12">
      <div class="w-5/6 sm:w-1/2 p-6 text-right">
        <h3 class="text-3xl text-green-700 font-bold leading-none mb-3" data-aos="fade-up">
          Front-end
        </h3>
        <figcaption class="text-gray-600 mb-8" data-aos="fade-up" data-aos-duration="800">
          I love <span class="text-green-700">Javascript</span>.
          Mostly used <span class="text-green-700">Vue (2 and 3)</span> for SPA.
          Also has experience in developing <span class="text-green-700">React</span> with <span
            class="text-green-700">React Hooks</span> and <span class="text-green-700">Nativescript - Angular</span> for
          mobile development.
          For my styling, i love using <span class="text-green-700">Tailwindcss</span> as it is so versatile and very
          easy to use.
          But sometime i have to use <span class="text-green-700">(SaSS, CSS, Bootstrap)</span>.
        </figcaption>
      </div>
      <div class="w-full sm:w-1/2 p-6">
        <img class="w-72 h-72 md:w-96 rounded-full md:rounded-none mx-auto object-cover" src="./images/front-end.svg"
          data-aos="fade-up" data-aos-duration="1000"/>
      </div>
    </figure>

    <figure class="flex flex-wrap flex-col-reverse sm:flex-row mb-12">
      <div class="w-full sm:w-1/2 p-6 mt-6" data-aos="fade-up" data-aos-duration="1000">
        <img class="w-5/6 sm:h-64 mx-auto" src="./images/devops.svg" />
      </div>
      <div class="w-full sm:w-1/2 p-6 mt-6">
        <div class="align-middle text-left">
          <h3 class="text-3xl text-teal font-bold leading-none mb-3" data-aos="fade-up">
            Dev-ops
          </h3>
          <figcaption class="text-gray-600 mb-8" data-aos="fade-up" data-aos-duration="800">
            I must say that dev-ops is my least favorite part of software development but it necessary.
            Currently using <span class="text-teal">Docker</span> as the main platform,
            <span class="text-teal">Drone CI</span> for building CI/CD pipelines and
            <span class="text-teal">AWS</span> is my most familiar web services out there.
            I still have much to learn when it comes to dev-ops.
          </figcaption>
        </div>
      </div>
    </figure>
  </div>
</section>